@font-face {
    font-family: 'PermanentMarkerRegular';
    src: url('PermanentMarker-webfont.eot');
    src: url('PermanentMarker-webfont.eot?#iefix') format('embedded-opentype'),
         url('PermanentMarker-webfont.woff') format('woff'),
         url('PermanentMarker-webfont.ttf') format('truetype'),
         url('PermanentMarker-webfont.svg#PermanentMarkerRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AsapRegular';
    src: url('Asap-Regular-webfont.eot');
    src: url('Asap-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Asap-Regular-webfont.woff') format('woff'),
         url('Asap-Regular-webfont.ttf') format('truetype'),
         url('Asap-Regular-webfont.svg#AsapRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AsapItalic';
    src: url('Asap-Italic-webfont.eot');
    src: url('Asap-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Asap-Italic-webfont.woff') format('woff'),
         url('Asap-Italic-webfont.ttf') format('truetype'),
         url('Asap-Italic-webfont.svg#AsapItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AsapBold';
    src: url('Asap-Bold-webfont.eot');
    src: url('Asap-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Asap-Bold-webfont.woff') format('woff'),
         url('Asap-Bold-webfont.ttf') format('truetype'),
         url('Asap-Bold-webfont.svg#AsapBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AsapBoldItalic';
    src: url('Asap-BoldItalic-webfont.eot');
    src: url('Asap-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Asap-BoldItalic-webfont.woff') format('woff'),
         url('Asap-BoldItalic-webfont.ttf') format('truetype'),
         url('Asap-BoldItalic-webfont.svg#AsapBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('Nexa_Free_Bold-webfont.eot');
    src: url('Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Nexa_Free_Bold-webfont.woff') format('woff'),
         url('Nexa_Free_Bold-webfont.ttf') format('truetype'),
         url('Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexa_lightregular';
    src: url('Nexa_Free_Light-webfont.eot');
    src: url('Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Nexa_Free_Light-webfont.woff') format('woff'),
         url('Nexa_Free_Light-webfont.ttf') format('truetype'),
         url('Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 16px;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html { 
    background: url(../img/home_bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -450px;
    width: 900px;
    height: 484px;
    margin-top: -242px;
} 

header {
    width: 700px;
    margin: 0 auto 70px;
}

h1 {
    font: 6em 'PermanentMarkerRegular', Helvetica, sans-serif;
    text-transform: uppercase;
    color: #29333d;
    width: 590px;
    margin: 0 auto;
}

#mainNav {
    width: 700px;
    margin: 0 auto;
    overflow: hidden;
}

#mainNav ul li {
    font: 1.2em 'nexa_boldregular', Helvetica, sans-serif;
    color: #29333d;
    display: block;
    padding: 10px;
    text-align: center;
}

#mainNav li.top_item {
    border-bottom: solid 2px #5a2a20;
}

#mainNav a:link {
    color: #29333d;
    text-decoration: none;
}

#mainNav a:visited {
    color: #29333d;
}

#mainNav a:hover {
    color: #5a2a20;
}

ul#leftNav, ul#rightNav {
    float: left;
    padding: 0;
    margin: 24px 27px;
    width: 225px;
}

#mainNav a#symbol {
    background: url(../img/about_symbol.png);
    float: left;
    width: 140px;
    height: 140px;
}

#mainNav a#symbol:hover {
  background-position: 0 -140px;
}

.socialNav {
    width: 140px;
    margin: 70px auto 40px;
    overflow: hidden;
}

.socialNav a {
    background-image:url('../img/social_icons.png');
    width: 24px;
    height: 24px;
    display: block;
    float: left;
}

.socialNav a.item1 {
    background-position: 0px -24px;
}

.socialNav a:hover.item1 {
    background-position: 0px 0px;
}

.socialNav a.item2 {
    background-position: -26px -24px;
    margin: 0 34px;
}

.socialNav a:hover.item2 {
    background-position: -26px 0px;
}

.socialNav a.item3 {
    background-position: -52px -24px;
}

.socialNav a:hover.item3 {
    background-position: -52px 0px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
